@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');//color
$color1: #068d9d;
$color2: #53599a;
$color3: #6d9dc5;
$color4: #80ded9;
$color5: #aeecef;
$color6: #048a81;
//color-transparent
$color4_tran: #32a28855;
// $color-header:#80ded9e0;
$color-header: #53599ad1;
//font
$font1: "Noto Sans", ui-sans-serif;
$font2: "Quicksand", ui-sans-serif;
$font3: "Lexend", ui-sans-serif;
$font4:'Roboto', sans-serif;
$font5:'Nunito', sans-serif;
$font6:'Plus Jakarta Sans', sans-serif;
$font7:'Roboto', sans-serif;
//set font
.font-1 {
  font-family: $font1;
}
.font-2 {
  font-family: $font6;
}
.font-3 {
  font-family: $font5;
}
.font-4{
  font-family: $font7;
}
