@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
//color
$color1:#068D9D;
$color2:#53599A;
$color3:#6D9DC5;
$color4:#80DED9;
$color5:#AEECEF;
$color6:#048a81;
//color-transparent
$color4_tran:#32a28855;
$color-header:#80ded9e0;
//font
$font1:'Noto Sans', sans-serif;
$font2: 'Quicksand', sans-serif;
$font3:'Lexend', sans-serif;
//set font
.font-1{
    font-family: $font1;
}
.font-2{
    font-family: $font2;
}
.font-3{
    font-family: $font3;
}